<% @applicants = Applicant.all( :order => "created_at") %>

<div class= "container">
	<div class="row">
<div class="span12">
<table class="table table-striped" width="100%">

	 <thead>
		<tr>
			<th colspan="9"> </th>
			<th colspan="4" style="background-color: whiteSmoke">Can Provide</th>
		  </tr>
          <tr>
			<th>Contacted</th>
			<th> </th>
            <th>Name</th>
			<th>City</th>
			<th>State</th>
			<th>Rental</th>
			<th>Lease_allows</th>
			<th>Hrs_alone</th>
			<th>Everyone_agree?</th>
			<th>Food</th>
			<th>Litter</th>
			<th>Vet</th>
			<th>Transport</th>
			<th>Start_Date</th>
			<th>Length</th>
			<th>Why</th>

          </tr>
        </thead>


<tbody>
<% @applicants.each do |applicant| %>

<tr>
	<td>
	<%= "yes" if applicant.contacted %>
	</td>
	<td>
	<a href= "/<%= applicant.id %>" >More</a>
	</td>
	<td>
	<%= applicant.firstname %>
	<%= applicant.lastname %>
	</td>
	<td>
	<%= applicant.address_city %>
	</td>
	<td>
	<%= applicant.address_state %>
	</td>
	<td>
	<%= applicant.rental %>
	</td>
	<td>
	<%= applicant.optionsRadios %>
	</td>
	<td>
	<%= applicant.hours_alone %>
	</td>
	<td>
	<%= applicant.others_allow %>
	</td>
	<td>
	<%= applicant.provide_food %>
	</td>
	<td>
	<%= applicant.provide_litter %>
	</td>
	<td>
	<%= applicant.provide_vet %>
	</td>
	<td>
	<%= applicant.provide_transport %>
	</td>
	<td>
	<%= applicant.start %>
	</td>
	<td>
	<%= applicant.length %>
	</td>
	<td>
	<%= applicant.why_foster %>
	</td>
	
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
